.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  background: white;
  /*background-image: url("http://cdn.pcwallart.com/images/universe-stars-background-wallpaper-2.jpg");*/
}

th {
  text-align: left;
}

#createpost {
  font-weight: bold;
}
