  <h1>Welcome to THE BEST PAGE EVER</h1>
  <p>Enter your name, e-mail and password to create your account.</p>


  <form action="/accreated" method="post" id="form1">
    Full name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="email" name="email"><br>
    Password:<br>
    <input type="password" name="password"><br><br>
    <button type="submit">Register</button>
    <button type="submit" formmethod="get" formaction="/">Back</button>
  </form>
