  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  
<!--   <form action="/sign_in" method="get" id="frm_user">
    <input type="text" name="user" placeholder="Type your user name...">
    <input type="submit" value="Submit">
  </form><br> -->
  <a href="/logout">Log out</a><br>
  <button id='btn_tweets'>Display Tweets</button>
  <button id='btn_make_tw'>Make Tweet</button><br>
  
  <form id="frm_tweets">
    <input type="text" name="user" placeholder="User name...">
    <input type="submit" value="Submit">
  </form>

  <form id="frm_make_tw">
    <textarea name="tweet" id="txA_tweet" cols="50" rows="4" placeholder="Tweets here..."></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>

  <div id="wait">
  </div>
