<h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  
<!--   <form action="/sign_in" method="get" id="frm_user">
    <input type="text" name="user" placeholder="Type your user name...">
    <input type="submit" value="Submit">
  </form><br> -->
  <a href="/sign_in">Sign In</a><br>