  <h1>Welcome to THE BEST PAGE EVER</h1>
  <p>Enter your e-mail and password to login.</p>


  <form action="/login" method="post" id="form2">
    E-mail:<br>
    <input type="email" name="email"><br>
    Password:<br>
    <input type="password" name="password"><br><br>
    <button type="submit">Login</button>
    <button type="submit" formmethod="get" formaction="/">Back</button>
  </form>