  <h1>Welcome to THE BEST PAGE EVER</h1>
  <h2>Welcome to THE BEST PAGE EVER</h2>
  <h3>Welcome to THE BEST PAGE EVER</h3>
  <h4>Welcome to THE BEST PAGE EVER</h4>
  <h5>Welcome to THE BEST PAGE EVER</h5>
  <h6>Welcome to THE BEST PAGE EVER</h6>
  <h7>Welcome to THE BEST PAGE EVER</h7>
  <h8>Welcome to THE BEST PAGE EVER</h8>
  
  <form action="/logout" method="get" id="form3">
    <button type="submit">Logout</button>
    <button type="submit" formaction="/users/:id">Go to your page</button>
  </form>