<div class="header">
  <h1>Welcome to my Website</h1>
  <p>For using this website you need to login whith your facbook acount</p>
</div>
<div class="body">
<a href="/auth/facebook"><button id="btn_fb_auth">LogIn</button></a>
</div>